#card {
    flex: 1;
    background-color: #edefee;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
img {
    height: 50%;
    object-fit: cover;
}
#titles {
    display: flex;
    justify-content: space-between;
    font-family: 'Markazi Text', sans-serif;
    font-weight: bold;
    padding: 5% 10% 0;
}
.price {
    color: #ee9972;
}
.text {
    color: #495e57;
    padding: 0 10%;
}
.order {
    font-weight: bold;
    padding: 0 10% 5%;
}
