.action {
    background-color: #495E57;
    gap: 1rem;
    padding: 2rem 0;
}

.action-container {
    display: flex;
}

.action-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.action-text h1{
    font-family:'Markazi Text';
    font-size: 64px;
    color: #f4ce14;
}
.action-text h2{
    color: white;
    font-size: 40px;
}
.action-text p{
    padding: 1rem 0;
}
.action-photo{
    flex: 1;
    position: relative;
}

.action img {
    position: absolute;
    width: 60%;
    height: 140%;
    object-fit: cover;
    right: 10%;
    border-radius: 24px;
}