.users {
    background-color: #b9b9b9;
    padding: 5rem;
}
.users h1 {
    font-size: 64px;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Markazi Text';
}
.cont-users {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
