.special{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 9rem 0;
  }
  .specials-title{
    justify-content: space-between;
    padding: 1rem 0;
  }
  .special h2{
    font-size: 64px;
    font-family: 'Markazi Text';
    color: black;
  }
  .cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
